.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section-container {
  width: 100%;
  background-size: contain;
  z-index: 1;
}

.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-restore-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: var(--primary-text-color);
}

.section-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-start;
  color: var(--error-color);
  letter-spacing: -0.24px;
}

.section-message-confirm {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: var(--secondary-text-color);
}

.section-message-email {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--secondary-background-color);
}

.section-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.section-button-forgot {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--secondary-background-color);
}

.section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-text-reminder {
  color: var(--secondary-text-color);
}

.section-text-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--secondary-background-color);
}

.section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-background-color);
  z-index: 2;
}

.section .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
}

.section .form-submit-btn {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: var(--secondary-background-color);
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
  border: transparent;
}

.section .form-submit-icon {
  fill: currentColor;
}

.section .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  border: 1px solid var(--white-color);
  background: var(--white-color);
}

.section .input-wrapper:hover .section .input-wrapper:focus {
  border: 1px solid var(--secondary-background-color);
}

.section .input-field {
  border: none;
  background-color: transparent;
  color: var(--secondary-text-color);
}

.section .input-field:focus {
  outline: none;
}

.input-icon {
  fill: var(--secondary-text-color);
  position: absolute;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .section-container {
    background-image: url("../images/phone/bg-phone@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    background-image: url("../images/tablet/bg-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .section-container {
    background-image: url("../images/tablet/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-container {
    background-image: url("../images/pc/bg-pc.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-container {
    background-image: url("../images/pc/bg-pc@2x.jpg");
  }
}
/*# sourceMappingURL=common.css.map */